<ion-header>
  <ion-toolbar>
    <ion-title>
      Вложенный роутинг
    </ion-title>
    <ion-buttons>
      <ion-back-button defaultHref="tabs/tab2"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-margin">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque <b>dignissim sodales tortor </b> et mattis lorem venenatis porta. Suspendisse ullamcorper ut nunc at pretium. Maecenas metus velit, efficitur suscipit turpis id, maximus aliquam magna. Sed magna turpis, dignissim suscipit fermentum id, varius sed tortor. Suspendisse potenti. Etiam quis nunc ut ligula rhoncus facilisis. Nullam sit amet nisi id lacus auctor vestibulum ac porttitor mauris.
  </div>
</ion-content>
